@model AllBooksQueryModel
@{
    ViewBag.Title = "My Books";
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalBooksCount /
        Model.BooksPerPage);
}
<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Book"
           asp-action="MyBooks"
           asp-route-currentPage="@previousPage"
           asp-route-genreId="@Model.GenreName"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Books.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Book"
           asp-action="MyBooks"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-genreId="@Model.GenreName"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>
@if (!Model.Books.Any())
{
    <h2 class="text-center">You have not added any books yet.</h2>
}
<!-- Main Content -->
<div class="col-lg-10">
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <form asp-antiforgery="true" class="delete-book-form">
                        <partial name="_BookPartial" model="@book" />
                        <input type="hidden" name="bookId" value=@book.Id>
                        <input class="btn btn-outline-danger delete-book" type="submit" value="Remove"/>
                    </form>
                </div>
            </div>
        }
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
        var deleteBookForms = document.querySelectorAll('.delete-book-form');
        deleteBookForms.forEach(function (form) {
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                var formData = new FormData(form); // Create form data object
                var bookId = formData.get('bookId'); // Get book ID from form data
                var confirmDelete = confirm('Are you sure you want to delete this book?');

                // If user confirms deletion
                if (confirmDelete) {

                    // Send AJAX request to server using Fetch API
                    fetch('/Book/Delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'bookId': bookId,
                            'RequestVerificationToken': token
                        },
                        body: JSON.stringify({ data: 'value' })
                    })
                        .then(response => {
                            if (response.ok) {
                                // Request was successful, display success message
                                alert('Book removed successfully!');
                                window.location.reload();
                            } else {
                                // Request failed, display error message
                                alert('Error removing book : ' + response.statusText);
                            }
                        })
                        .catch(error => {
                            // Handle network errors
                            console.error('Network error:', error);
                        });
                }
            });
        });
    });
</script>